@model BookStore.Web.Models.ContactDetailViewModel
@{
    ViewBag.Title = "Trang cập nhật thông tin liên hệ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Cập nhật
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Nhập thông tin.
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        @using (Html.BeginForm("Edit", "Contact", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, null, new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.ID)
                            <div class="form-group">
                                @Html.LabelFor(model => model.CompanyName)
                                @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CompanyPhone)
                                @Html.TextBoxFor(model => model.CompanyPhone, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CompanyPhone, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CompanyEmail)
                                @Html.TextBoxFor(model => model.CompanyEmail, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CompanyEmail, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CompanyWebsite)
                                @Html.TextBoxFor(model => model.CompanyWebsite, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CompanyWebsite, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CompanyFax)
                                @Html.TextBoxFor(model => model.CompanyFax, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CompanyFax, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CompanyAddress)
                                @Html.TextBoxFor(model => model.CompanyAddress, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CompanyAddress, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Lat)
                                @Html.TextBoxFor(model => model.Lat, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Lat, "", new { @class = "text-danger", @type = "number" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Lng)
                                @Html.TextBoxFor(model => model.Lng, new { @class = "form-control", @type = "number" })
                                @Html.ValidationMessageFor(model => model.Lng, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Cập nhật" class="btn btn-success" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

